In [25]:
import pandas as pd
df = pd.read_csv("../data/magic-games-bonn.csv")

df.head(8)

,GameID,Date,Location,PlayerName,CmdrName,Place,TurnOrder
0,1,2025-01-10,Arian,Arian,"Kykar, Wind's Fury",2,3
1,1,2025-01-10,Arian,Chingiz,"Narset, Enlightened Exile",4,1
2,1,2025-01-10,Arian,Emil,"Talrand, Sky Summoner",3,4
3,1,2025-01-10,Arian,Timo,"Korvold, Fae-Cursed King",1,2
4,2,2025-01-10,Arian,Arian,"Kykar, Wind's Fury",2,2
5,2,2025-01-10,Arian,Chingiz,"Kwain, Itinerant Meddler",1,4
6,2,2025-01-10,Arian,Emil,"Talrand, Sky Summoner",2,3
7,2,2025-01-10,Arian,Timo,"Korvold, Fae-Cursed King",4,1